.hydra/
output/
ckpt/
# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*.jpeg
*.png

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Profiling data
.prof

# Folder specific to your needs
**/tmp/
**/outputs/skyseg.onnx
skyseg.onnx

# pixi environments
.pixi
*.egg-info


# .ply and .pt output files
*.ply
*.pt
*.jpg
*.png
video/

graph.py

# ----------------------- ignore some files from calibration workflow -----------------------
vggt/lux_cam
vggt/lux_vggt
vggt/store_depth_cam
vggt/store_depth_vggt
vggt/test.ipynb
vggt/auatomated_script.py
vggt/avif_test.ipynb

vggt/plot-test-before.py
vggt/plot-test-after.py

vggt/plot-test.py
vggt/plot-test.py
vggt/plot-track.py

# ----------------------- ignore files from lerobot -------------------------
### Environments & Dependencies ###
lerobot/.env
lerobot/.venv
lerobot/env/
lerobot/venv/
lerobot/env.bak/
lerobot/venv.bak/
lerobot/.python-version
lerobot/__pypackages__/
lerobot/node_modules/

# Lock files
lerobot/poetry.lock
lerobot/uv.lock
lerobot/Pipfile.lock

### Build & Distribution ###
lerobot/build/
lerobot/dist/
lerobot/sdist/
lerobot/wheels/
lerobot/downloads/
lerobot/eggs/
lerobot/.eggs/
lerobot/parts/
lerobot/var/
lerobot/pip-wheel-metadata/
lerobot/share/python-wheels/
lerobot/develop-eggs/
lerobot/*.egg-info/
lerobot/.installed.cfg
lerobot/*.egg
lerobot/MANIFEST
lerobot/lib/
lerobot/lib64/

# PyInstaller
lerobot/*.manifest
lerobot/*.spec

### Compiled & Cached Files ###
lerobot/__pycache__/
lerobot/*.py[cod]
lerobot/*$py.class
lerobot/*.so
lerobot/*.sage.py
lerobot/.cache/
lerobot/.ruff_cache/
lerobot/.mypy_cache/
lerobot/.pyre/
lerobot/.pytype/
lerobot/cython_debug/

### Testing & Coverage ###
lerobot/htmlcov/
lerobot/.tox/
lerobot/.nox/
lerobot/.coverage
lerobot/.coverage.*
lerobot/.pytest_cache/
lerobot/.hypothesis/
lerobot/nosetests.xml
lerobot/coverage.xml
lerobot/*.cover
lerobot/*.py,cover
!lerobot/tests/artifacts

### Logs & Temporary Files ###
lerobot/logs/
lerobot/tmp/
lerobot/*.log
lerobot/pip-log.txt
lerobot/pip-delete-this-directory.txt
lerobot/celerybeat-schedule
lerobot/celerybeat.pid

### IDE & Editor Config ###
# VS Code
lerobot/.vscode/
lerobot/.devcontainer/

# JetBrains / PyCharm
lerobot/.idea/

# Spyder
lerobot/.spyderproject
lerobot/.spyproject

# Rope
lerobot/.ropeproject/

# Vim
lerobot/*.swp

# Other
*~

### OS Specific ###
# macOS
lerobot/.DS_Store

# Windows
lerobot/Thumbs.db

### Framework & Tool Specific ###
lerobot/.Python

# Django
lerobot/local_settings.py
lerobot/db.sqlite3
lerobot/db.sqlite3-journal

# Flask
lerobot/instance/
lerobot/.webassets-cache

# Scrapy
lerobot/.scrapy

# Jupyter
lerobot/.ipynb_checkpoints/
lerobot/profile_default/
lerobot/ipython_config.py

# Sphinx
lerobot/docs/_build/

# MkDocs
lerobo


# ------------------------ images on readme ------------------------
!readme-imgs/2025_08_25_17:38:36.jpg 
!readme-imgs/2025_08_25_17:39:51.jpg 
!readme-imgs/2025_08_25_17:42:50.jpg
!readme-imgs/extrinsic-trajectory.png
!readme-imgs/photo-lekiwi.jpg
!readme-imgs/point-cloud.png